.subtitle-float {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.subtitle-text {
    font-size: 15px;
    color:white;
    padding:2px 5px;
    max-width: 250px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.button-caption {
    margin-right:5px;
    svg{
        position: relative;
        top: .2px;
        fill: white;
        width: 22px;
        height: auto;
    }
    cursor: pointer;
    opacity: .5;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.enabled{
        opacity: 1;
    }
}

@media (min-width: 600px) {
    .subtitle-text {
        font-size: 18px;
    }
}
@media (max-width: 400px) {
    .subtitle-text {
        font-size: 12px;
    }
}