.vplayer-loading{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }