.button--play {
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        width:18px;
        height:18px;
        svg{
            fill: white;
            width: 100%;
            height: 100%;
        }
        &.play{
            position: relative;
            left: 1px;
        }
    }
}